* {
    margin: 0;
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
}

nav {
    margin-bottom: 18px;
}

.titulares {
    margin-left: -40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari and Chrome */
}

nav {
    overflow: hidden;
    background-color: #1f567c;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f567c;
    /*    opacity: 0.6;*/
}

#nav li {
    float: left;
    text-align: center;
    display: inline;
}

li a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

li a:hover {
    background-color: #ddd;
    color: black;
}

a.active {
    background-color: #4CAF50;
    color: white;
}

h1 {
    font-family: 'Josefin Sans', sans-serif, italic;
    font-size: 126px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-style: italic;
    z-index: 100;
    text-shadow: 2px 2px 4px #000000;
}

.accordion {
    z-index: 105;
    height: auto;
}

body {
    font-family: 'Lato', sans-serif;
}

p {
    padding: 30px;
}

img {
    padding-bottom: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h2 {
    text-transform: uppercase;
    font-size: 50px;
    background-color: #1f567c;
    color: white;
}

#accordion {
    height: auto;
}

input[type=text],
input[type=email],
input[type=tel] {

    width: 100%;
    padding: 12x;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    padding: 12px 20px;
    padding-right: 45%;
    padding-left: 45%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    width: 500px;
    padding-left: 130px;
    padding-top: 30px;
}

#contact {
    border-radius: 5px;
    padding: 20px;
    background-image: url(img/trama/tucansito.png);
    background-position: 5% 85%;
    background-repeat: no-repeat;
}

footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f567c;
    color: white;
}

footer ul {
    list-style-type: none;
}

li b {
    color: white;
}

.logo {
    width: 10%;
    float: left;
}

iframe {
    width: 80%;
    height: 200px;
    margin-left: 12%;
}

h3 {
    display: block;
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
}

br {
    display: block;
    margin: 10px 0;
    line-height: 350%;
}

[placeholder] {
    padding-left: 10px;
}

body {
    background-image: url(img/trama/trama.jfif);
}

main {
    background-color: white;
}

#delei {
    font-size: 30px;
    display: block;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
}

#his {
    background-image: url(img/trama/APA-Familias-TRAMAS.jpg);
}

.center {
    display: block;
    text-align: center;
}

.hide {
    visibility: hidden;
}

.recr {
    display: inline;
    padding-left: 15px;
    padding-top: 5px;
    margin: 15px;
}

#cont {
    font-size: 30px;
    display: block;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #1f567c;
    color: white;
}

label,
input {
    margin-top: 30px;
    margin-bottom: 30px;
}

select {
    padding-left: 20px;
    padding-right: 10px;
}

.delet {
    font-style: normal;
}

nav ul {
    width: 750px;
    margin: 0 auto;
    list-style: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-align: center;
    width: 150px;
    text-decoration: none;
}

#art{
    width: 560px;
    height: 315px;
}