* {
    margin: 0;
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
}

nav {
    margin-bottom: 18px;
}

.titulares {
    margin-left: -40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari and Chrome */
}

nav {
    overflow: hidden;
    background-color: #1f567c;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f567c;
}

/*
#nav li {
    float: left;
    text-align: center;
    display: inline;
}
*/

li a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

li a:hover {
    background-color: #4CAF50;;
    color: white;
}

a.active {
    background-color: #4fcfcf;
    color: white;
}

h1 {
    font-family: 'Josefin Sans', sans-serif, italic;
    font-size: 126px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-style: italic;
    z-index: 100;
    text-shadow: 2px 2px 4px #000000;
}

.accordion {
    z-index: 105;
    height: auto;
}

body {
    font-family: 'Lato', sans-serif;
}

p {
    padding: 30px;
    padding-left: 120px;
    padding-right: 120px;
}

img {
    padding-bottom: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h2 {
    text-transform: uppercase;
    font-size: 50px;
    background-color: #1f567c;
    color: white;
}

#accordion {
    height: auto;
}

input[type=text],
input[type=email],
input[type=tel] {

    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    padding: 12px 20px;
    padding-right: 45%;
    padding-left: 45%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    width: 500px;
    padding-left: 130px;
    padding-top: 30px;
}

#contact {
    border-radius: 5px;
    padding: 20px;
    background-image: url(img/trama/tucansito.png);
    background-position: 5% 85%;
    background-repeat: no-repeat;
}

footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f567c;
    color: white;
    background-image: url(img/logo-foz.png);
    background-repeat: no-repeat;
    /*    width: 10%;*/
    /*    float: left;*/
}

footer ol {
    display: block;
    list-style-type: none;
}

footer ol {
    column-count: 5;
}

ol {
    padding-top: 10px;
}

li b {
    color: white;
}

.logo {
    width: 10%;
    float: left;
}

iframe {
    width: 80%;
    height: 200px;
    margin-left: 12%;
}

h3 {
    display: block;
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
}

br {
    display: block;
    margin: 10px 0;
    line-height: 350%;
}

[placeholder] {
    padding-left: 10px;
}

body {
    background-image: url(img/trama/trama.jfif);
}

main {
    background-color: white;
}

#delei {
    font-size: 30px;
    display: block;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
}

#his {
    background-image: url(img/trama/APA-Familias-TRAMAS.jpg);
}

.center {
    display: block;
    text-align: center;
}

.hide {
    visibility: hidden;
}

.recr {
    display: inline;
    padding-left: 15px;
    padding-top: 5px;
    margin: 15px;
}

#cont {
    font-size: 30px;
    display: block;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #1f567c;
    color: white;
}

label,
input {
    margin-top: 30px;
    margin-bottom: 30px;
}

select {
    padding-left: 20px;
    padding-right: 10px;
}

.delet {
    font-style: normal;
    font-weight: normal;
}

nav ul {
    width: 750px;
    margin: 0 auto;
    list-style: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-align: center;
    width: 150px;
    text-decoration: none;
}

#art {
    width: 560px;
    height: 315px;
}

a {
    text-decoration: none;
    color: #1f567c;
}

select {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.none {
    text-decoration: none;
    color: #1f567c;
}

#ven {
    display: block;
    text-align: center;
}

#reservados {
    padding-right: 150px;
    padding-left: 150px;
    font-size: 30px;
}

@font-face{
    font-family: 'Good Brush';
    src: url(fonts/good_brush/GoodBrush.woff);
}

#brasil{
    font-family: 'Good Brush';
    font-size: 50px;
    padding-top:30px; 
}

#municipio{
    font-size: 20px;
    color: white;
}

#conocer{
    padding-left: 50px;
    font-weight: bold;
}

/*TABLETS*/
@media screen and (max-width:800px){
    
}

/*CELULAR*/
@media screen and (max-width:480px){

    body{
        background-image: none;
        background-color: #1f567c;
    }
    .burguer-nav{
        display: block;
        height: 50px;
        width: 100%;
        background: url(img/trama/hamburger-menu-icon-transparent-0.jpg) no-repeat 98% center;
        background-color: #1f567c;
        cursor: pointer;
        background-size: 50px 50px;
    }
    header{
        width: 113%;
    }
    main{
        width: 113%;
    }
    footer{
        width: 113%;
    }
    
    header nav ul{
        overflow: hidden;
        height: 0;
    }
    
    header nav ul.open{
        height: auto;
        position: absolute left;
    }
    
    header nav ul li{
        display: inline;
        float: none;
        text-align: left;
        width: 100%;
        margin: 0;
    }
    header nav ul li{
        color: #fff;
        padding: 10px;
        border-bottom: 1px solid #404040;
        display: list-item;
        margin: 0;
        font-family: 'Lato', sans-serif;
        margin: 1px;
        padding-right: 30rem;
    }
    
    h1{
        position: static;
        margin-top: 5rem;
        text-align: center;
        font-size: 5em;
        margin-right: 5rem;
        margin-left: 13rem;
        padding-top: 10rem;
        background-image: url(img/Grandes/gracias-cataratas-noche.jpg) no-repeat;
        background-size:;
    }
    img{
        display: none;
    }
}